.link {
    display: flex;
    padding: 0.5rem 0;
    text-decoration: none;
}

.link:not(:last-child) {
    margin-bottom: 0.25rem;
}

.chevron {
    margin-right: 0.5rem;
    transition: transform 0.25s ease-out;
}

.link:hover {
    text-decoration: underline;
}

.link:hover > .chevron {
    transform: translateX(0.3rem);
}

.link:focus > .chevron > * {
    background-color: var(--navds-semantic-color-text-inverted);
}
