.chevron {
    position: relative;
    width: 10px;
    height: 10px;
}

.left {
    position: absolute;
    width: 10px;
    height: 2px;
    top: 2px;
    background-color: var(--navds-semantic-color-link);
    transform-origin: right;
    transform: rotate(-45deg);
}

.right {
    position: absolute;
    width: 10px;
    height: 2px;
    top: 2px;
    background-color: var(--navds-semantic-color-link);
    transform-origin: right;
    transform: rotate(45deg);
}
