.searchForm {
    display: flex;
    flex-direction: column;
    width: 480px;
    max-width: 100%;
}

.searchInput {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.searchFieldContainer {
    position: relative;
    width: 100%;
}

.searchField input {
    height: 3rem;
}

.searchButton {
    height: 3rem;
    align-self: flex-end;
    margin-left: 0.5rem;
    width: 6rem;
}

.searchButton > :global(.navds-button__inner) {
    font-weight: bold;
}

.searchResult {
    margin-top: 1rem;
    padding: 0.75rem;

    border-radius: var(--navds-border-radius-medium);
    background-color: var(--navds-global-color-gray-100);
}

.loader {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;

    color: var(--navds-global-color-gray-600);
}

.loaderText {
    margin-right: 0.5rem;
}

.error {
    margin-top: 0.05rem;
    padding: 0.5rem;

    border-radius: var(--navds-border-radius-medium);
    color: var(--navds-error-message-color-text);
}
