.searchForm {
    display: flex;
    flex-direction: column;
}

.searchInput {
    display: flex;
    justify-content: flex-end;
}

.searchField input {
    height: 3rem;
}

.searchButton {
    height: 3rem;
    align-self: flex-end;
    margin-left: 0.5rem;
}

.searchResult {
    margin-top: 1rem;
    padding: 0.75rem;

    border-radius: var(--navds-border-radius);
    background-color: var(--navds-color-gray-10);
}
