.searchForm {
    display: flex;
    flex-direction: column;
}

.searchInput {
    display: flex;
    justify-content: flex-end;
}

.searchField input {
    height: 3rem;
}

.searchButton {
    height: 3rem;
    align-self: flex-end;
    margin-left: 0.5rem;
}

.searchResult {
    margin-top: 0.5rem;

    border: 2px solid var(--navds-color-deepblue-90);
}
