.header:not(:last-child) {
    margin-bottom: 0.75rem;
}

.hitname {
    color: var(--navds-global-color-gray-600);
    padding: 0.5rem 0 0.25rem 1.25rem;
}

.hitname strong {
    color: var(--navds-global-color-gray-800);
}
