name: Build and deploy
on:
    workflow_call:
        inputs:
            environment:
                required: true
                type: string
            APP_ORIGIN:
                required: true
                type: string
            API_ORIGIN:
                required: true
                type: string
            XP_ORIGIN:
                required: true
                type: string
            NAVNO_ORIGIN:
                required: true
                type: string
        secrets:
            READER_TOKEN:
                required: true
            NAIS_WORKLOAD_IDENTITY_PROVIDER:
                required: true

jobs:
    build-and-deploy:
        name: Build docker image and deploy to nais k8s
        runs-on: ubuntu-latest
        environment: ${{ inputs.environment }}
        permissions:
            contents: read
            id-token: write
        env:
            basePath: /sok-nav-kontor
        steps:
            - name: Checkout repo
              uses: actions/checkout@v6
            - name: Setup node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  registry-url: 'https://npm.pkg.github.com'
                  cache: 'npm'
            - name: Define app environmment
              run: |
                  cat > .env <<EOF
                  VITE_APP_ORIGIN=${{ inputs.APP_ORIGIN }}
                  VITE_APP_BASEPATH=${{ env.basePath }}
                  VITE_XP_ORIGIN=${{ inputs.XP_ORIGIN }}
                  VITE_NAVNO_ORIGIN=${{ inputs.NAVNO_ORIGIN }}
                  API_ORIGIN=${{ inputs.API_ORIGIN }}
                  ENV=${{ inputs.environment }}
                  EOF
            - name: Install dependencies
              run: npm ci
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
            - name: Build application
              run: npm run build
            - name: Run tests
              run: npm test
            - name: Prune dependencies
              run: npm prune --production
            - name: Build and push docker image
              uses: nais/docker-build-push@v0
              id: docker-push
              with:
                  team: navno
                  project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
                  identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
                  image_suffix: ${{ inputs.environment }}
            - uses: nais/deploy/actions/deploy@v2
              env:
                  CLUSTER: ${{ inputs.environment }}-gcp
                  RESOURCE: .nais/config.yml
                  VAR: image=${{ steps.docker-push.outputs.image }},basePath=${{ env.basePath }}
                  VARS: .nais/vars-${{ inputs.environment }}.yml
