name: Build and test
on:
    workflow_call:
        inputs:
            environment:
                required: true
                type: string
            APP_ORIGIN:
                required: true
                type: string
            API_ORIGIN:
                required: true
                type: string
            XP_ORIGIN:
                required: true
                type: string
            NAVNO_ORIGIN:
                required: true
                type: string
        secrets:
            READER_TOKEN:
                required: true
            NAIS_WORKLOAD_IDENTITY_PROVIDER:
                required: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v6
            - name: Setup node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  registry-url: 'https://npm.pkg.github.com'
            - name: Install pnpm
              uses: pnpm/action-setup@c5ba7f7862a0f64c1b1a05fbac13e0b8e86ba08c
              with:
                  version: 9
            - name: Install dependencies
              run: pnpm install --frozen-lockfile --ignore-scripts
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
            - name: Build application
              run: pnpm build
            - name: Run tests
              run: pnpm test
