name: Build and test
on:
    workflow_call:
        inputs:
            environment:
                required: true
                type: string
            APP_ORIGIN:
                required: true
                type: string
            API_ORIGIN:
                required: true
                type: string
            XP_ORIGIN:
                required: true
                type: string
            NAVNO_ORIGIN:
                required: true
                type: string
        secrets:
            READER_TOKEN:
                required: true
            NAIS_WORKLOAD_IDENTITY_PROVIDER:
                required: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v6
            - name: Setup node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  registry-url: 'https://npm.pkg.github.com'
                  cache: 'npm'
            - name: Install dependencies
              run: npm ci
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
            - name: Build application
              run: npm run build
            - name: Run tests
              run: npm test
